<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" th:href="@{/images/general/favicon.png}"/>
	<link rel="stylesheet" th:href="@{/css/error_Styles.css}" />
	<title>Oops</title>
</head>
<body>
 <div class="wrap">
	<div class="logo">
			<p>OOPS! - No encontramos lo que buscas!</p>
			<img th:src="@{/images/general/404-1.png}" src="" alt="404"/>
			<div class="sub">
			  <p><a role="button" onclick="history.go(-1)">Atras</a></p>
			</div>
	</div>
 </div>	
	
	
	<div class="footer">
	 &copy 2012 Oops 404 . All Rights Reserved | Design by<a href="http://w3layouts.com">W3layouts</a>
	</div>
	
</body>