<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ecofamily - Index</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid text-center">
    <div class="row g-0 text-center" >
        <div class="row container-fluid col-md-8 mx-auto justify-content-center ">
            <img src="../images/general/logo_ecofamily.png" class="img-fluid my-3 w-25" alt="Ecofamily" />
            <h1 class="display-1 mb-4 text-primary">Gestor de transacciones</h1>
        </div>
    </div>

    <div class="row g-0 text-center" >
        <div class="col container-fluid col-md-3 mx-auto bg-primary justify-content-center d-none">
            <!--img src="../images/general/logo_ecofamily.png" class="img-fluid my-3 mb-3" alt="Ecofamily" width="100" /-->
            <div class="d-grid gap-2  justify-content-center col-5 my-5 mx-auto" >
                <!-- a href="" class="btn-70" role="button">Transacciones</a -->
                <a href="" class="btn btn-secondary mt-5 my-2 btn-sm " role="button">Transacciones</a>
                <a href="" class="btn btn-secondary my-2 btn-sm" role="button">Usuarios</a>
                <a href="" class="btn btn-secondary my-2 btn-sm" role="button">Empresas</a>
            </div>
        </div>
        <div class="row container-fluid col-md-8 mx-auto justify-content-center border border-success">
            <div class="col-sm-3 my-3">
                <div class="card">
                    <img src="../images/home/transactions_setup.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Gestíón de transacciones</h5>
                        <!--p class="card-text">Gestiona todo lo relacionado a las transacciones de las diferentes empresas.</p-->
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 my-3">
                <div class="card">
                    <img src="../images/home/users_setup.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Gestíón de usuarios</h5>
                        <!--p class="card-text">Gestiona todo lo relacionado a los empleados de las diferentes empresas.</p-->
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 my-3">
                <div class="card">
                    <img src="../images/home/enterprises_setup.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Gestíon de empresas</h5>
                        <!--p class="card-text">Gestiona todo lo relacionado a la empresa.</p-->
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div style="text-align: center;"><img src="./images/innovedcol.png" width="40%" alt="Innoved Col" ></div>
<br>
<p class="botones">
    <button class="learn-more" onclick="location.href='./enterprises'">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Empresas</span>
    </button>
    <button class="learn-more" onclick="location.href='./users'">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Empleados</span>
    </button>
    <button class="learn-more" onclick="location.href='./transactions'">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Transacciones</span>
    </button>

</p>
-->
</body>
</html>